<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="40" alt="hackathon Logo"
      src="https://avatars.githubusercontent.com/u/129013697?s=400&u=ef6d4d2c824cf0c5b5b85f6f44028c3ab9e9c057&v=4" />
      51NGµL@R1Ð@Ð
    </a>
      <a class="navbar-brand" href="#">
        <img width="60" alt="coder path"
          src="https://github.com/Hackathon-ChatGPT-NTTDATA/chatgpt-whisper-spring-boot/blob/master/singularidad/src/main/resources/fotocreador/microserivicios.jpeg?raw=true"
          />
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/alumnos"routerLinkActive="active">Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/cursos"routerLinkActive="active">Cursos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/examenes"routerLinkActive="active">Examenes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
